/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'SF Pro';
    src: url('./Font/SF-Pro-Regular.otf') format('opentype');
    /* Adicione os outros formatos de fonte aqui, se necessário */
  }
  
  /* Defina a fonte padrão para o projeto */
  body {
    font-family: 'SF Pro', sans-serif;
  }